

.container .loader{
    animation: init 0.3s both;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: red;
}

